<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:forceDarkAllowed="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ui.auth.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--  SignUpActivity as launcher -->
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--LoginActivity as launcher-->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--ForgotPasswordActivity as launcher-->
        <activity
            android:name=".ui.auth.ForgotPassword"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--ForgotPasswordActivity as launcher-->
        <activity
            android:name=".ui.auth.DetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--ChoiceActivity as launcher-->
        <activity
            android:name=".ui.auth.ChoiceActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--Keep MainActivity (not launcher now) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--QuizActivity as launcher-->
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--ScoreCardActivity as launcher-->
        <activity
            android:name=".ui.quiz.ScoreCardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--EditProfile as launcher-->
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--Setting button as launcher-->
        <activity
            android:name=".ui.profile.SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--User Profile activity as launcher-->
        <activity
            android:name=".ui.profile.UserProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />

        <!--Chat activity as launcher-->
        <activity
            android:name=".ui.screens.ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SenpaiChallenge" />


    </application>




</manifest>
